<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
			<section name="SiteCrawlerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
			<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        </sectionGroup>
    </configSections>


	<connectionStrings>
		<!--
		<add name="SQLServerConnection" connectionString="Data Source=10.62.142.50;Initial Catalog=Socialfire;User Id=sa;Password=HiPT@123456;"
    providerName="System.Data.SqlClient" />
        -->

		<add name="SQLServerConnection" connectionString="Data Source=10.160.0.18;Initial Catalog=Socialfire;User Id=appsql;Password=Abc@123456;"
    providerName="System.Data.SqlClient" />

	</connectionStrings>
	
    <!--
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
	</entityFramework>
	-->

</configuration>